.userIcon {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
}
.container {
  border: 0.2rem solid #d1d5db;
  border-radius: 2rem;
  padding: 30px;
}
.container {
  border: 0.2rem solid #d1d5db;
  border-radius: 2rem;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}
